h1 {
  font-family: fantasy;
  font-size: 3em;
  color: red;
  border-bottom: solid 2px red;
  border-right: solid 2px red;
  width: 400px;
  text-align: center;    
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: 1s;
}

img:hover {
  transform: scale(1.1);
}
